/*
 * Copyright © Idess Lee
 */

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
  color: #707070;
}

h1, h2, h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

a, p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, #view-full-bio:hover {
  color: #000000;
}

a, a:hover, #view-full-bio, #view-full-bio:hover {
  transition-property: color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

strong {
  font-weight: bold;
}

header {
  padding: 20px;
  text-align: center;
}

header nav a {
  margin: 10px;
  text-transform: uppercase;
  font-size: 10pt;
}

main {
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
  min-width: 600px;
  max-width: 720px;
}

#greeting {
  font-size: 22pt;
  line-height: 80%;
}

#about {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#about img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

#about div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#about div div {
  width: 80%;
  text-align: right;
}

#about div div p {
  line-height: 150%;
}

#about .hr {
  width: 60%;
  padding-top: 2%;
}

#about div div {
  margin-top: 0.75em;
  font-size: 11pt;
}

#view-full-bio {
  cursor: pointer;
}

.hr {
  border-bottom: 1px solid #707070;
  opacity: 15%;
}
